- content_for :stylesheets do
  != stylesheet_link_tag 'http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', :media => 'all'

!!! 5
%html{'ng-app' => 'Lunchtime'}
  %head
    %title Lunchtime
    != stylesheet_link_tag 'application', :media => 'all'
    != javascript_include_tag 'application'
    != csrf_meta_tags
    != yield :stylesheets
  %body
    = setup
    = render :partial => 'layouts/header'
    .container
      != yield
    = render :partial => 'layouts/footer'
    = render :partial => 'application/modal'
